# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Setup Bun
      - uses: oven-sh/setup-bun@v2.1.2
        with:
          # The version of Bun to install from file. (e.g. "package.json", ".bun-version", ".tool-versions")
          bun-version-file: .bun-version
      - run: bun install
      - run: bun test
